<link rel="stylesheet" type="text/css" href="resources/css/client_menu.css">
<div class="container-fluid">
	<div class="row no-margin">
		<div class="col-md-12" id="menu-container">
			<div class="row no-margin mid-menu">
				<div class="col-md-6 col-sm-6 col-xs-12 vertical-center-mid" id="menu_2">
					<div class="row text-center">
						<img src="resources/img/list.png">
						<h6 class="menu-title">Lista de canciones</h6>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 vertical-center-mid " id="menu_1">
					<div class="row text-center">
						<img src="resources/img/play-button.png">
						<h6 class="menu-title">Mis listas de reproduccion</h6>
					</div>
				</div>
			</div>
			<div class="row no-margin mid-menu">
				<div class="col-md-6 col-sm-6 col-xs-12 vertical-center-mid ">
					<div class="row text-center">
						<img src="resources/img/list.png">
						<h6 class="menu-title">Lista de canciones</h6>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 vertical-center-mid " id="menu_3">
					<div class="row text-center">
						<img src="resources/img/error.png">
						<h6 class="menu-title">Cerrar Sesión</h6>
					</div>
				</div>
			</div>
		</div>
	</div>				
</div>