
<script src="resources/js/bootstrap-table/src/bootstrap-table.js"></script>
<link rel="stylesheet" type="text/css" href="resources/js/bootstrap-table/src/bootstrap-table.css">
<script src="resources/js/bootstrap-table/src/locale/bootstrap-table-es-ES.js"></script>
<link rel="stylesheet" type="text/css" href="resources/css/playlist.css">
<script type="text/javascript" src="resources/js/playlist.js"></script>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" id="view-container">
			<table id="table"></table>
		</div>
	</div>
</div>